Host *
    SetEnv TERM=xterm-256color	
    ServerAliveInterval 60
    ServerAliveCountMax 10
    TCPKeepAlive yes

Host jumper
    HostName jumper.selectdb-in.cc
    Port 1111
    User jackson
    #!! encPassword 1c69dfc62fc1c46b6561a2fbba67ba7ea103a4bbdad28eefeff2e8aa718668f6748d0b4b58

Host aws-jumper
    HostName jumper.selectdb-in.cc
    Port 3333
    User jackson
    #!! encPassword 1c69dfc62fc1c46b6561a2fbba67ba7ea103a4bbdad28eefeff2e8aa718668f6748d0b4b58

Host jenkins-jumper
     HostName 172.20.16.161
     User root
     IdentityFile ~/work/keypairs/jenkins_release_accesskey.pem

Host dev
    HostName 39.105.178.51
    Port 22
    User root
    IdentityFile  ~/.ssh/id_rsa_aliyun_dev

Host common-dev
    HostName 10.26.20.3
    ProxyJump hk-jumper
    User jackson
    #!! encPassword 8e3eac021afee296ce9c07910fad247866a60acad1f7f46cf6fdd1d96edb0433ab04b3a08873bdd4

Host build
    HostName 8.210.143.26
    ProxyJump jenkins-jumper
    User jackson
    #!! encPassword 61e061dc783b01aee5cd00b3af3e2ea98abb2bc6e402b304709689e708387e6bc311cbe7265f5121
