Host *
    SetEnv TERM=xterm-256color	
    ServerAliveInterval 60
    ServerAliveCountMax 10
    TCPKeepAlive yes

Host jumper
    HostName jumper.selectdb-in.cc
    Port 1111
    User jackson
    #!! encPassword 1c69dfc62fc1c46b6561a2fbba67ba7ea103a4bbdad28eefeff2e8aa718668f6748d0b4b58

Host aws-jumper
    HostName jumper.selectdb-in.cc
    Port 3333
    User jackson
    #!! encPassword 1c69dfc62fc1c46b6561a2fbba67ba7ea103a4bbdad28eefeff2e8aa718668f6748d0b4b58

